<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}" />
		<title>URL Shortener</title>
	</head>
	<body>
		<main>
			<h1>URL Shortener</h1>
			<form method="POST">
				<label for="url">Enter a URL to shorten:</label>
				<input type="text" name="url" id="url" required />
				<input type="submit" value="Shorten my URL" />
			</form>
			{% if url %}
			<section>
				<h2>Your shortened url:</h2>
				<a href="{{url}}" target="_blank">{{host}}{{url}}</a>
			</section>
			{% endif %} {% if invalid_url %}
			<section>
				<p>{{invalid_url}} is not a valid URL.</p>
				<p>
					URLs must start with <i>http://</i> or <i>https://</i> and end with a domain (e.g
					<i>.com</i>)
				</p>
				<p>Please try again with a valid url</p>
			</section>
			{% endif %}
		</main>
	</body>
</html>
